@charset "UTF-8";
/*!
 * Nome do Projeto / Slogan ou tagline
 * Desenvolvido por Natio Criativo (http://www.natiocriativo.com)
 * Copyright 2016
 */
/* ==========================================================================
   //Guide Style
   ========================================================================== */
@font-face {
  font-family: 'HurmeGeometricSans4-Black';
  src: url("../fonts/hurme/HurmeGeometricSans4-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Black.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Black.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Black.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Black.svg#HurmeGeometricSans4-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-BlackObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-BlackObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-BlackObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-BlackObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-BlackObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-BlackObl.svg#HurmeGeometricSans4-BlackObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-Bold';
  src: url("../fonts/hurme/HurmeGeometricSans4-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Bold.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Bold.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Bold.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Bold.svg#HurmeGeometricSans4-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-BoldObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-BoldObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-BoldObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-BoldObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-BoldObl.svg#HurmeGeometricSans4-BoldObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-Hairline';
  src: url("../fonts/hurme/HurmeGeometricSans4-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Hairline.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Hairline.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Hairline.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Hairline.svg#HurmeGeometricSans4-Hairline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-HairlineObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-HairlineObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-HairlineObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-HairlineObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-HairlineObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-HairlineObl.svg#HurmeGeometricSans4-HairlineObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-Light';
  src: url("../fonts/hurme/HurmeGeometricSans4-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Light.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Light.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Light.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Light.svg#HurmeGeometricSans4-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-LightObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-LightObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-LightObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-LightObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-LightObl.svg#HurmeGeometricSans4-LightObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-Regular';
  src: url("../fonts/hurme/HurmeGeometricSans4-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Regular.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Regular.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Regular.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Regular.svg#HurmeGeometricSans4-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-RegularObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-RegularObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-RegularObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-RegularObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-RegularObl.ttf") format("truetype") url("../fonts/hurme/HurmeGeometricSans4-RegularObl.svg#HurmeGeometricSans4-RegularObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-SemiBold';
  src: url("../fonts/hurme/HurmeGeometricSans4-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBold.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBold.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-SemiBold.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBold.svg#HurmeGeometricSans4-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-SemiBoldObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-SemiBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBoldObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBoldObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-SemiBoldObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-SemiBoldObl.svg#HurmeGeometricSans4-SemiBoldObl") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-Thin';
  src: url("../fonts/hurme/HurmeGeometricSans4-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-Thin.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-Thin.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-Thin.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-Thin.svg#HurmeGeometricSans4-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HurmeGeometricSans4-ThinObl';
  src: url("../fonts/hurme/HurmeGeometricSans4-ThinObl.eot?#iefix") format("embedded-opentype"), url("../fonts/hurme/HurmeGeometricSans4-ThinObl.otf") format("opentype"), url("../fonts/hurme/HurmeGeometricSans4-ThinObl.woff") format("woff"), url("../fonts/hurme/HurmeGeometricSans4-ThinObl.ttf") format("truetype"), url("../fonts/hurme/HurmeGeometricSans4-ThinObl.svg#HurmeGeometricSans4-ThinObl") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  overflow-x: hidden; }

body {
  font-family: HurmeGeometricSans4-Light, sans-serif;
  color: #623f10;
  overflow-x: hidden;
  letter-spacing: 0.5pt; }

/*Títulos*/
h1, h2, h3, h5, h6 {
  font-weight: unset;
  margin: 0;
  margin-bottom: 25px; }

h1 {
  text-align: center;
  color: #e66113;
  font-size: 40px;
  text-transform: uppercase; }

h2 {
  text-align: center;
  margin-bottom: 50px; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: HurmeGeometricSans4-Regular, sans-serif;
  color: #d9601c; }

h4 {
  font-family: HurmeGeometricSans4-Regular, sans-serif;
  text-transform: uppercase;
  font-size: 16px; }

/*Parágrafos*/
p {
  font-size: 18px;
  line-height: 1.8; }

/*Negrito/Bold*/
strong {
  font-family: HurmeGeometricSans4-SemiBold, sans-serif;
  font-weight: unset;
  color: #d9601c; }

/*Itálico*/
em {
  font-style: italic; }

/*Imagens*/
img {
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*Links*/
a, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
  transition: .5s; }

a:hover {
  /*text-decoration: underline;*/
  color: #cb6120; }

.voltar-interna {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase; }

.voltar-interna i {
  font-size: 22px;
  position: relative;
  top: 3px; }

/*Seções*/
section {
  padding: 5em 0;
  /*border-bottom: 1px solid #eee;*/ }

/**
 * Image overlay ratio
 * Para colocar a medida certa no padding bottom fazer o cálculo:
 * Ex: height/width = 0.4536 > padding-bottom: 45.36%
 */
.overlay {
  position: absolute;
  top: 0;
  width: 90%;
  padding-bottom: 90%;
  /*Alterar aqui*/
  left: 50%;
  margin-left: -45%;
  z-index: 5;
  background: rgba(218, 96, 29, 0.6);
  opacity: 0;
  transition: .5s;
  border-radius: 50%; }

.overlay img {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  margin-top: -35%;
  margin-left: -35%; }

.overlay-container {
  position: relative;
  text-align: center; }

.overlay-container > img {
  text-align: center;
  width: 90%;
  border-radius: 50%; }

.overlay-container h3 {
  margin-top: 25px; }

.overlay--active {
  display: block; }

.overlay--active:hover div > .overlay {
  opacity: 1; }

.overlay--active:hover {
  color: #d9601c; }

/*Listas*/
.list-default {
  list-style: none;
  text-align: justify;
  margin-bottom: 50px; }

.list-default li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px; }

.list-default li:last-child {
  margin-bottom: 0; }

.list-default i {
  position: absolute;
  top: 0;
  left: 0;
  color: #d9601c; }

/*Formulários*/
.form textarea {
  resize: none;
  overflow: auto; }

.form input,
.form textarea,
.form select {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 16px; }

.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: none; }

/*Botões*/
.btn {
  display: block;
  padding: 10px 30px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #666; }

.btn:hover {
  background: #000;
  color: #fff; }

.btn:focus {
  outline: none; }

a.btn-slider {
  position: absolute;
  width: 250px;
  height: 45px;
  bottom: -50px;
  left: 50%;
  transform: translatex(-50%);
  padding-top: 10px;
  background: #fff;
  text-transform: uppercase;
  text-align: center;
  color: #6e5128; }

a.btn-slider:hover {
  background: #d9601c;
  color: #fff; }

/*Slider principal full*/
section.slider-principal {
  margin: 0;
  padding: 0; }

.slider-principal {
  height: 500px;
  overflow: hidden; }

.slider-principal--item {
  height: 500px; }

.slider-principal--item .container {
  position: relative;
  height: 500px; }

.slide01 {
  background: url("../img/slider01.jpg") no-repeat;
  background-position: left;
  background-size: cover; }

.slide02 {
  background: url("../img/slider02.jpg") no-repeat;
  background-size: cover; }

.slide03 {
  background: url("../img/slider03.jpg") no-repeat;
  background-size: cover; }

.slide04 {
  background: url("../img/slider04.jpg") no-repeat;
  background-size: cover; }

.slide05 {
  background: url("../img/slider05.jpg") no-repeat;
  background-size: cover; }

.slide-box {
  position: absolute;
  width: 600px;
  bottom: 25%;
  right: 0;
  z-index: 5;
  color: #000;
  text-align: center; }

.slide-box-especial {
  position: absolute;
  width: 600px;
  left: 50%;
  bottom: 25%;
  z-index: 5;
  color: #000;
  text-align: center;
  transform: translatex(-50%); }

.slide-box h1 {
  font-family: HurmeGeometricSans4-Hairline, sans-serif;
  font-size: 102px;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.5;
  color: #6e5128; }

.slide-box h2 {
  font-family: HurmeGeometricSans4-Light, sans-serif;
  font-size: 55px;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
  color: #d9601c; }

.slide-box2 {
  position: absolute;
  min-width: 600px;
  bottom: 30%;
  right: 0;
  z-index: 5;
  color: #000;
  text-align: center; }

.slide-box2 h1 {
  font-family: HurmeGeometricSans4-Hairline, sans-serif;
  font-size: 102px;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.5;
  color: #fff; }

.slide-box2 h2 {
  font-family: HurmeGeometricSans4-Light, sans-serif;
  font-size: 55px;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
  color: #fff; }

.slide-box-especial h2 {
  font-family: HurmeGeometricSans4-Light, sans-serif;
  font-size: 55px;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }

/* Setas */
.slider-principal .slick-prev,
.slider-principal .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  z-index: 5;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slider-principal .slick-prev:hover,
.slider-principal .slick-prev:focus,
.slider-principal .slick-next:hover,
.slider-principal .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slider-principal .slick-prev:hover:before,
.slider-principal .slick-prev:focus:before,
.slider-principal .slick-next:hover:before,
.slider-principal .slick-next:focus:before {
  opacity: 1; }

.slider-principal .slick-prev.slick-disabled:before,
.slider-principal .slick-next.slick-disabled:before {
  opacity: .25; }

.slider-principal .slick-prev:before,
.slider-principal .slick-next:before {
  font-family: 'slick', sans-serif;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slider-principal .slick-prev {
  left: 25px; }

[dir='rtl'] .slider-principal .slick-prev {
  right: 25px;
  left: auto; }

.slider-principal .slick-prev:before {
  content: '';
  background: url("../img/arrow.svg");
  background-size: contain;
  display: block;
  width: 26px;
  height: 106px;
  transform: translatey(-53px); }

[dir='rtl'] .slider-principal .slick-prev:before {
  content: '→'; }

.slider-principal .slick-next {
  right: 25px; }

[dir='rtl'] .slider-principal .slick-next {
  right: auto;
  left: 25px; }

.slider-principal .slick-next:before {
  content: '';
  background: url("../img/arrow.svg");
  background-size: contain;
  display: block;
  width: 26px;
  height: 106px;
  transform: translatey(-53px) rotatey(-180deg); }

[dir='rtl'] .slider-principal .slick-next:before {
  content: '←'; }

/* Dots */
.slider-principal.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slider-principal .slick-dots {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slider-principal .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
  background: #623f10;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: .5; }

.slider-principal .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slider-principal .slick-dots li button:hover,
.slider-principal .slick-dots li button:focus {
  outline: none; }

.slider-principal .slick-dots li button:hover:before,
.slider-principal .slick-dots li button:focus:before {
  opacity: 1; }

.slider-principal .slick-dots li button:before {
  font-family: 'slick', sans-serif;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slider-principal .slick-dots li.slick-active {
  opacity: 1;
  background: #d9601c; }

/*Slider principal container*/
/*Slider depoimentos*/
.depoimentos {
  background: #eee;
  text-align: center; }

.depoimentos img {
  margin: 0 auto; }

.depoimentos-slider .slick-prev:before,
.depoimentos-slider .slick-next:before {
  color: black; }

.depoimentos-slider .slick-dots {
  position: static; }

.depoimentos-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
  background: #623f10;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: .5; }

.depoimentos-slider .slick-dots li button:before {
  font-family: 'slick', sans-serif;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.depoimentos-slider .slick-dots li.slick-active {
  opacity: 1;
  background: #d9601c; }

/*Slider parceiros (pode ser usado para galerias ou linha do tempo)*/
.parceiros .slick-prev:before,
.parceiros .slick-next:before {
  color: black; }

.parceiros .slick-slide {
  margin: 0 25px; }

.parceiros .slick-list {
  margin: 0 -25px; }

a.btn-back {
  font-size: 40px;
  position: fixed;
  z-index: 9;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: #cb6120;
  border-radius: 50%; }

/*Remove object*/
object[type*='application/gas-events'] {
  display: none; }

/*Debug*/
.debug {
  border: 1px solid red; }

/* ==========================================================================
   //Header e Navbar
   ========================================================================== */
.header {
  height: 500px;
  background: #eee; }

/* Navbar */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 75px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.75);
  color: #6e5128; }

.nav-brand img {
  width: 175px; }

.nav-menu {
  float: right; }

.nav-menu li {
  display: inline-block; }

.nav-menu li:first-child {
  margin-left: 0; }

.nav-menu-divide {
  color: #6e5128;
  font-size: 18px;
  font-weight: 100;
  margin: 0 20px; }

.nav-menu a {
  display: block;
  font-size: 18px; }

.nav-active,
.nav-active:visited {
  color: #cb6120; }

.nav-btn--abrir,
.nav-btn--fechar {
  display: none; }

/* ==========================================================================
   //Main
   ========================================================================== */
/*Conceito*/
.conceito p {
  font-size: 20px;
  text-align: center; }

/*Depoimentos*/
section.depoimentos {
  background: url("../img/depoimentos-bg.svg") no-repeat top right rgba(231, 199, 130, 0.2);
  background-size: auto 100%;
  padding-top: 50px; }

.depoimentos-foto {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  margin-bottom: 25px; }

.depoimentos-slider img {
  border-radius: 50%; }

.depoimentos-slider p {
  font-family: HurmeGeometricSans4-Light, sans-serif;
  color: #cb6120;
  font-size: 20px;
  margin-bottom: 25px; }

.depoimentos-slider h5 {
  text-align: center;
  text-transform: uppercase; }

/* ==========================================================================
   //Internas
   ========================================================================== */
.banner-internas {
  height: 500px; }

/* ==========================================================================
   Sobre
   ========================================================================== */
.banner-sobre {
  background: url("../img/sobre-banner-desk.png") no-repeat top center;
  background-attachment: fixed;
  height: 500px; }

.espaco img {
  margin-bottom: 0;
  width: 85%; }

.galeria-sobre {
  border-radius: 50%; }

.curriculo ul {
  padding: 0; }

.curriculo li {
  font-size: 18px;
  margin-bottom: 25px; }

.curriculo em {
  font-size: 12px; }

.sobre-historico-lista {
  text-align: center;
  margin: 50px 0; }

.sobre-historico-principal {
  margin-top: 50px; }

.sobre-historico-principal li {
  font-size: 20px;
  text-align: center;
  margin: 25px 0; }

.sobre-historico {
  position: relative;
  font-weight: 900;
  color: #cb6120; }

.sobre-historico-principal h3 {
  text-align: center;
  overflow: hidden; }

.sobre-historico-principal h3.fancy span {
  display: inline-block;
  position: relative; }

.sobre-historico-principal h3.fancy span:before,
.sobre-historico-principal h3.fancy span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #d9601c;
  top: 50%;
  width: 1200px; }

.sobre-historico-principal h3.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.sobre-historico-principal h3.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.sobre-historico-lista h3 {
  text-align: center;
  overflow: hidden; }

.sobre-historico-lista h3.fancy span {
  display: inline-block;
  position: relative; }

.sobre-historico-lista h3.fancy span:before,
.sobre-historico-lista h3.fancy span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #d9601c;
  top: 50%;
  width: 1200px; }

.sobre-historico-lista h3.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.sobre-historico-lista h3.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.joyce {
  max-width: 300px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 25px; }

.joyce-container {
  background: url("../img/depoimentos-bg.svg") no-repeat top right rgba(231, 199, 130, 0.2);
  background-size: auto 100%;
  padding-top: 50px; }

.joyce-bio-destaque {
  color: #d9601c;
  border-top: 1px solid #d9601c;
  line-height: 1.8;
  padding-top: 25px;
  margin-top: 25px; }

.sobre-galeria .slick-list {
  border-radius: 15%/50%; }

.sobre-galeria .slick-prev,
.sobre-galeria .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.sobre-galeria .slick-prev:hover,
.sobre-galeria .slick-prev:focus,
.sobre-galeria .slick-next:hover,
.sobre-galeria .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.sobre-galeria .slick-prev:hover:before,
.sobre-galeria .slick-prev:focus:before,
.sobre-galeria .slick-next:hover:before,
.sobre-galeria .slick-next:focus:before {
  opacity: 1; }

.sobre-galeria .slick-prev.slick-disabled:before,
.sobre-galeria .slick-next.slick-disabled:before {
  opacity: .25; }

.sobre-galeria .slick-prev:before,
.sobre-galeria .slick-next:before {
  font-family: 'slick', sans-serif;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sobre-galeria .slick-prev {
  left: -25px; }

[dir='rtl'] .sobre-galeria .slick-prev {
  right: -25px;
  left: auto; }

.sobre-galeria .slick-prev:before {
  content: '';
  background: url("../img/sobre-arrow.svg");
  background-size: contain;
  display: block;
  width: 26px;
  height: 106px;
  transform: translatey(-53px); }

[dir='rtl'] .sobre-galeria .slick-prev:before {
  content: '→'; }

.sobre-galeria .slick-next {
  right: -25px; }

[dir='rtl'] .sobre-galeria .slick-next {
  right: auto;
  left: -25px; }

.sobre-galeria .slick-next:before {
  content: '';
  background: url("../img/sobre-arrow.svg");
  background-size: contain;
  display: block;
  width: 26px;
  height: 106px;
  transform: translatey(-53px) rotatey(-180deg); }

[dir='rtl'] .sobre-galeria .slick-next:before {
  content: '←'; }

.leduc img {
  border-radius: 15px; }

/* ==========================================================================
   //Tratamentos
   ========================================================================== */
.banner-tratamentos {
  background: url("../img/tratamentos.png") no-repeat top center;
  background-attachment: fixed;
  height: 500px; }

.tratamentos-box {
  margin-top: 50px; }

.tratamentos h3 {
  text-align: center;
  overflow: hidden;
  margin-top: 50px; }

.tratamentos h3.fancy span {
  display: inline-block;
  position: relative; }

.tratamentos h3.fancy span:before,
.tratamentos h3.fancy span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #d9601c;
  top: 50%;
  width: 1200px; }

.tratamentos h3.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.tratamentos h3.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.tratamentos p {
  text-align: left; }

.tratamentos img {
  border-radius: 50%; }

.overlay img {
  border-radius: 0; }

#sticky_parent > div {
  position: static; }

ul.menu-tratamentos {
  padding: 0; }

ul.menu-tratamentos > li:first-child {
  border: 0; }

.menu-tratamentos li {
  margin: 25px;
  /*border-top: 1px solid $color-two;*/
  border-bottom: 1px solid #6e5128;
  padding-bottom: 20px; }

.menu-tratamentos li:last-child {
  border-bottom: 0; }

.menu-tratamentos-sub li {
  border: 0;
  margin: 10px 0;
  padding-bottom: 0;
  padding-left: 40px; }

.menu-tratamentos-sub li:last-child {
  padding-bottom: 20px; }

ul.menu-tratamentos-sub {
  border-bottom: 1px solid #6e5128;
  padding: 0;
  margin-left: 25px;
  margin-right: 25px; }

.tratamentos-interna img {
  margin-top: 25px;
  border-radius: 50%; }

/* ==========================================================================
   //Contato
   ========================================================================== */
.banner-contato {
  background: url("../img/contato.png") no-repeat top center;
  background-attachment: fixed;
  height: 500px; }

.formulario h3 {
  text-align: left;
  margin-top: 25px; }

.contato-info {
  text-align: left;
  margin-top: 25px; }

.form-contato {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.form-contato input {
  border: 1px solid rgba(98, 63, 16, 0.3);
  border-radius: 25px;
  transition: .5s; }

.form-contato textarea {
  height: 150px;
  transition: .5s;
  /*background: rgba(98,63,16, .3);*/
  border: 1px solid rgba(98, 63, 16, 0.3);
  resize: none;
  overflow: hidden;
  border-radius: 25px; }

.form-contato input:focus,
.form-contato textarea:focus {
  opacity: .7; }

.form-contato textarea:focus {
  height: 250px; }

.form-contato .loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5); }

.btn-contato {
  border: 1px solid rgba(98, 63, 16, 0.5);
  text-transform: uppercase;
  color: rgba(98, 63, 16, 0.8);
  cursor: pointer;
  background: transparent;
  border-radius: 25px; }

.btn-contato:hover {
  background: rgba(98, 63, 16, 0.3);
  border: 1px solid #fff; }

.contato-header,
.formulario {
  margin-top: 50px; }

.contato-header h3 {
  text-align: center;
  overflow: hidden; }

.contato-header p {
  text-align: center; }

.contato-header h3.fancy span {
  display: inline-block;
  position: relative; }

.contato-header h3.fancy span:before,
.contato-header h3.fancy span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #d9601c;
  top: 50%;
  width: 1200px; }

.contato-header h3.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.contato-header h3.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.contato-map {
  border-radius: 25px;
  height: 450px; }

/* General styles for the modal */
/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden; }

.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

/* Content styles */
.md-content {
  background: #FFF;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 20px;
  overflow: hidden; }

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  font-weight: 300;
  opacity: 0.8; }

.md-content > div.inner > div {
  padding: 15px 40px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em; }

.md-content > div p {
  margin: 0;
  padding: 10px 0;
  text-align: center; }

.md-content button {
  display: block;
  margin: 20px auto;
  font-size: 0.8em; }

/* Effect 14:  3D Rotate from bottom */
.md-effect-14.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px; }

.md-effect-14 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.md-show.md-effect-14 .md-content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1; }

/* ==========================================================================
   //Footer
   ========================================================================== */
footer {
  background: url("../img/footer-bg.svg") no-repeat center 145px;
  background-size: cover; }

address {
  text-align: center;
  font-style: normal;
  font-size: 18px; }

.footer-info {
  color: #6e5128; }

.footer-news {
  margin: 50px 0;
  text-align: center; }

.footer-news-input {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  background: rgba(98, 63, 16, 0.3);
  border: 0;
  font-size: 18px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 25px;
  text-align: center; }

.footer-news h5,
.footer-social h5 {
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
  font-size: 20px; }

.footer-news h5.fancy span,
.footer-social h5.fancy span {
  display: inline-block;
  position: relative; }

.footer-news h5.fancy span:before,
.footer-news h5.fancy span:after,
.footer-social h5.fancy span:before,
.footer-social h5.fancy span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: rgba(98, 63, 16, 0.3);
  top: 50%;
  width: 1200px; }

.footer-news h5.fancy span:before,
.footer-social h5.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.footer-news h5.fancy span:after,
.footer-social h5.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.footer-social {
  text-align: center; }

.footer-social h5 {
  font-size: 20px;
  margin-bottom: 25px; }

.btn-news {
  width: 150px;
  background: transparent;
  border: 1px solid rgba(98, 63, 16, 0.3);
  color: rgba(98, 63, 16, 0.3);
  padding: 5px;
  transition: .5s;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase; }

.btn-news:hover {
  border: 1px solid #d9601c;
  color: #d9601c; }

.footer-info {
  padding: 50px 0; }

/*Redes Sociais*/
ul.social-media {
  padding: 0; }

.social-media {
  text-align: center; }

.social-media li {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  margin: 0 25px;
  opacity: .9;
  transition: .5s;
  letter-spacing: 1pt;
  border: 1px solid rgba(98, 63, 16, 0.5); }

.social-media li:first-child {
  margin-left: 0; }

.social-media li:last-child {
  margin-right: 0; }

.social-media li:hover {
  border: 1px solid #d9601c; }

.social-media li:hover {
  opacity: 1; }

.social-media i {
  font-size: 24px;
  margin-top: 12px; }

.social-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: rgba(98, 63, 16, 0.5); }

.social-media a:hover {
  color: #d9601c; }

.footer-logo {
  text-align: center;
  margin-bottom: 50px; }

.footer-logo img {
  width: 200px;
  display: block;
  margin: auto; }

.footer-copy {
  color: #623f10;
  padding-bottom: 50px; }

.nav-footer-divide {
  color: rgba(98, 63, 16, 0.5);
  font-size: 18px;
  font-weight: 100;
  margin: 0 20px; }

ul.footer-menu {
  padding: 0; }

.footer-menu {
  margin-top: 25px;
  color: rgba(98, 63, 16, 0.5); }

.footer-menu li {
  display: inline-block;
  position: relative; }

.footer-menu a {
  font-size: 20px; }

.footer-menu a:hover {
  color: #d9601c; }

.footer-natio {
  text-align: right;
  font-size: 16px;
  color: rgba(98, 63, 16, 0.5); }

.footer-natio a:hover {
  color: #cb6120; }

.footer-natio a[author="Natio"] {
  margin-left: 15px; }

/* ==========================================================================
   //Responsivo
   ========================================================================== */
@media screen and (max-width: 1200px) {
  .slide01 {
    background: url("../img/slider01-desk.jpg") no-repeat;
    background-size: cover;
    height: 500px; }

  .slide02 {
    background: url("../img/slider02-desk.png") no-repeat;
    background-size: cover;
    height: 500px; }

  .slide03 {
    background: url("../img/slider03-desk.png") no-repeat;
    background-size: cover;
    height: 500px; }

  .slide04 {
    background: url("../img/slider04-desk.png") no-repeat;
    background-size: cover;
    height: 500px; }

  .slide05 {
    background: url("../img/slider05-desk.png") no-repeat;
    background-size: cover;
    height: 500px; }

  .banner-sobre {
    background: url("../img/sobre-banner-desk.png") no-repeat center;
    background-size: cover;
    height: 500px; }

  .banner-tratamentos {
    background: url("../img/tratamentos-banner-desk.png") no-repeat center;
    background-size: cover;
    height: 500px; }

  .banner-contato {
    background: url("../img/contato-banner-desk.png") no-repeat center;
    background-size: cover;
    height: 500px; } }
/*Breakpoint 1024px, usado para gerar o nav menu responsivo*/
@media screen and (max-width: 1024px) {
  .nav-menu {
    background: #cb6120;
    opacity: .95;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 9000;
    top: 0;
    right: -90%;
    transition: right .5s ease-out;
    color: black;
    padding-top: 32px; }

  .nav-menu li {
    display: block;
    font-size: 26px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 5px 0;
    padding: 15px 0;
    text-transform: uppercase; }

  .nav-menu li:first-child {
    margin-top: 100px; }

  .nav-menu li:after {
    display: none; }

  .nav-menu a {
    display: block;
    float: none; }

  .nav-menu-divide {
    display: none; }

  .nav-btn--abrir {
    position: absolute;
    top: 5px;
    right: 0; }

  .nav-btn--fechar {
    position: relative;
    top: -10px;
    left: -15px; }

  .nav-btn--abrir,
  .nav-btn--fechar {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border: 0; }

  .nav-btn--abrir:focus,
  .nav-btn--fechar:focus {
    outline: none; }

  .nav-btn--abrir i,
  .nav-btn--fechar i {
    font-size: 32px;
    color: #6e5128; }

  .nav-btn--fechar i {
    color: #fff; }

  .menu-ativo .nav-menu {
    right: 0; }

  .menu-ativo .nav-menu a {
    color: #fff; }

  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); } }
/*Large size col-lg 1199px - 992px*/
/*Medium size col-md 991px - 768px*/
@media screen and (max-width: 991px) {
  .footer-news-input {
    width: 80%; }

  #sidebar {
    position: relative !important; } }
@media screen and (max-width: 768px) {
  .slide01 {
    background: url("../img/slider01-mobile.jpg") no-repeat;
    background-size: cover; }

  .slide02 {
    background: url("../img/slider02-mobile.png") no-repeat center;
    background-size: cover; }

  .slide03 {
    background: url("../img/slider03-mobile.png") no-repeat center;
    background-size: cover; }

  .slide04 {
    background: url("../img/slider04-mobile.png") no-repeat center;
    background-size: cover; }

  .slide05 {
    background: url("../img/slider05-mobile.png") no-repeat center;
    background-size: cover; }

  .banner-sobre {
    background: url("../img/sobre-banner-mobile.png") no-repeat center;
    background-size: cover;
    height: 500px; }

  .banner-tratamentos {
    background: url("../img/tratamentos-banner-mobile.png") no-repeat center;
    background-size: cover;
    height: 500px; }

  .banner-contato {
    background: url("../img/contato-banner-mobile.png") no-repeat center;
    background-size: cover;
    height: 500px; } }
/*Small size, col-sm 767px - 544px*/
@media screen and (max-width: 767px) {
  .slide01:after,
  .slide02:after,
  .slide03:after,
  .slide04:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    z-index: 3; }

  .slide-box {
    position: absolute;
    width: 100%;
    bottom: 25%;
    right: 50%;
    margin-right: -50%;
    z-index: 5;
    color: #000;
    text-align: center; }

  .slide-box h1 {
    font-family: HurmeGeometricSans4-Hairline, sans-serif;
    font-size: 102px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.5;
    color: #fff; }

  .slide-box h2 {
    font-family: HurmeGeometricSans4-Light, sans-serif;
    font-size: 55px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    color: #fff; }

  .slide-box2 {
    position: absolute;
    width: 100%;
    bottom: 25%;
    right: 50%;
    margin-right: -50%;
    z-index: 5;
    color: #000;
    text-align: center; }

  .slide-box2 h1 {
    font-family: HurmeGeometricSans4-Hairline, sans-serif;
    font-size: 102px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.5;
    color: #fff; }

  .slide-box2 h2 {
    font-family: HurmeGeometricSans4-Light, sans-serif;
    font-size: 55px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    color: #fff; }

  .espaco img {
    width: 65%; }

  .sobre-galeria .slick-prev {
    left: 0px; }

  [dir='rtl'] .sobre-galeria .slick-prev {
    right: 0px;
    left: auto; }

  .sobre-galeria .slick-next {
    right: 5px; }

  [dir='rtl'] .sobre-galeria .slick-next {
    right: auto;
    left: 5px; } }
/*Extra Small size, col-xs 543px - 0*/
@media screen and (max-width: 543px) {
  h1 {
    font-size: 32px; }

  .slide-box,
  .slide-box-especial {
    position: absolute;
    width: 100%;
    bottom: 20%;
    right: 50%;
    margin-right: -50%;
    z-index: 5;
    color: #000;
    text-align: center; }

  .slide-box-especial h2 {
    font-size: 35px;
    color: #fff; }

  .slide-box h1 {
    font-family: 'HurmeGeometricSans4-Thin', sans-serif;
    font-size: 80px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.5;
    /*color: $color-two;*/
    color: #fff; }

  .slide-box h2 {
    font-family: HurmeGeometricSans4-Light, sans-serif;
    font-size: 35px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-top: 5px; }

  .slide-box2 {
    position: absolute;
    min-width: 100%;
    bottom: 20%;
    right: 50%;
    z-index: 5;
    color: #000;
    text-align: center; }

  .slide-box2 h1 {
    font-family: 'HurmeGeometricSans4-Thin', sans-serif;
    font-size: 80px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.5;
    color: #fff; }

  .slide-box2 h2 {
    font-family: HurmeGeometricSans4-Light, sans-serif;
    font-size: 35px;
    font-weight: initial;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-top: 5px; }

  .slider-principal .slick-prev,
  .slider-principal .slick-next,
  .slider-principal .slick-prev:before,
  .slider-principal .slick-next:before {
    display: none; }

  .footer-copy {
    text-align: center; }

  .footer-natio {
    text-align: center;
    margin-top: 25px; } }
/*Específicos*/
@media screen and (max-width: 480px) {
  .depoimentos-slider .slick-dots {
    text-align: left; }

  .depoimentos-slider .slick-dots li {
    margin: 15px 35px; } }
@media screen and (max-width: 440px) {
  .slide-box h1,
  .slide-box2 h1 {
    font-size: 60px; } }
@media screen and (max-width: 320px) {
  .slide-box h1,
  .slide-box2 h1 {
    font-size: 50px; }

  .slide-box h2,
  .slide-box2 h2 {
    font-size: 28px;
    margin-top: 5px; }

  .depoimentos-slider .slick-dots {
    text-align: left; }

  .depoimentos-slider .slick-dots li {
    margin: 15px 19px; } }
/*!*Específicos*!*/
@media screen and (max-width: 385px) {
  .footer-menu li {
    display: block; }

  .nav-footer-divide {
    display: block;
    background: rgba(98, 63, 16, 0.5);
    width: 120px;
    height: 1px;
    margin: 25px auto;
    text-indent: -9999px;
    overflow: hidden; } }

/*# sourceMappingURL=style.css.map */
